<div
  class=" flex justify-center items-center min-h-screen flex-col gap-4 w-full"
>


<h2>
  Hello, learning
</h2>

<p-menubar [model]="items" />
  <div class="flex flex-col gap-8">
    <div class="col-span-3 row-start-4 border border-surface rounded-lg">6</div>
    <div
      class="row-span-2 border flex gap-5 flex-col justify-center items-center h-full w-full border-surface rounded-lg shadow-surface-600"
    >
      <span>{{ date ? date : "Aqui estara tu data." }}</span>
      <p-datepicker
        class="max-w-full"
        [(ngModel)]="date"
        [inline]="true"
        [showWeek]="true"
      />
    </div>
    <div
      class="row-span-3 border-surface border rounded-lg shadow-surface-600 p-4 flex flex-col"
    >
      <b>Componennte de Checkbox</b>
      <p-checkbox
        [(ngModel)]="checked"
        [binary]="true"
        [indeterminate]="true"
        variant="outlined"
        styleClass="bg-primary-500 text-cyan-500"
        inputClass="bg-red-500"
      />
      <b>Componente de Radio</b>
      <p-radiobutton name="pizza" value="Cheese" inputId="ingredient1" />
      <label for="ingredient1" class="ml-2">Cheese</label>
    </div>
    <div
      class="col-start-1 row-start-3 border border-surface rounded-lg shadow-surface-600 p-4"
    >
      <span>Calendar y Modal</span>

      <b>Componente de contraseña</b>

      <div class="flex justify-between">
        <p-datepicker [(ngModel)]="date" dateFormat="dd-mm-yy" />
        <p-button (click)="showDialog()" label="Enviar ✅" size="small" />
      </div>

      <div class="flex flex-col">
        <p class="font-bold">Toogle Switch Checked</p>
        <p-toggleswitch [(ngModel)]="checked" />
        <p>Input Number Component</p>
        <br />
        <span class="font-bold">Solo integer Input Number</span>
        <p-inputnumber
          inputId="integeronly"
          [(ngModel)]="value1"
          [minFractionDigits]="4"
        />
        <span class="font-bold">Selected Componente</span>
        <!-- <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="pais" placeholder="Select a City" class="w-full"  styleClass="w-full" /> -->

        <span class="font-bold">Autocomplete</span>

        <p>{{ selectedCountryId }}</p>
        <p-auto-complete
          [(ngModel)]="selectedCountryId"
          [suggestions]="filteredCountries"
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          (completeMethod)="filterCountry($event)"
          delay="300"
          placeholder="Selecciona tu edit"
          optionLabel="pais"
          (onSelect)="onClickSelectedSon($event)"
        />

        <span>Checkbox Component</span>
        <p-checkbox
          [(ngModel)]="checked"
          [binary]="true"
          inputClass="bg-red-500! text-red-500!"
        />
      </div>

      <p-dialog
        header="Edit Profile"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '25rem' }"
      >
        <span class="p-text-secondary block mb-8 text-sm"
          >Update your information.</span
        >
        <div class="flex items-center gap-4 mb-4">
          <label for="username" class="font-semibold w-24">Username</label>
          <input
            pInputText
            id="username"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Email</label>
          <input pInputText id="email" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex justify-end gap-2">
          <p-button
            label="Cancel"
            severity="secondary"
            (click)="visible = false"
          />
          <p-button label="Save" (click)="visible = false" />
        </div>
      </p-dialog>
    </div>


    <i class="pi pi-times"></i>

    <!-- Template Diferidos -->

    <!-- Carga diferida con viewport -->
    @defer (on viewport) {
    <app-single-file-api />
    }@placeholder {
    <p>Soy tu placeholder 👩‍🚀, con la interaccion VIEWPORT</p>
    } 

    
    <!-- Carga diferida con Hover -->
    @defer (on hover) {
    <app-single-file-api />
    } @loading (after 1000ms; minimum 11s) {
    <p class="w-full h-52">Cargandoo</p>
    }@placeholder {
    <!-- // Requerido para funcionar con el defer -->
    <p>Soy tu segundo placeholder 🐱‍🚀 con la interaccion HOVER</p>
    }

    <!-- Carga difererida con interaccion -->
    @defer (on interaction) {
      <app-single-file-api />
      } @loading (after 1000ms; minimum 11s) {
      <p class="w-full h-52">Cargandoo</p>
      }@placeholder {
      <!-- // Requerido para funcionar con el defer -->
      <p>Soy tu segundo placeholder 🐱‍🚀 con la trigger de interaccion</p>
      }





    <div
      class="row-span-2 col-start-3 border row-start-2 border-surface rounded-lg shadow-surface-600s p-5 relative"
    >
      <div
        class="row-span-2 col-start-3 border row-start-2 border-surface rounded-lg shadow-surface-600s p-5"
        style="overflow: auto"
      >
        <p-table
          [value]="products"
          [paginator]="true"
          [rows]="4"
          styleClass="p-datatable-gridlines"
          styleClass="overflow-hidden  z-50 absolute inset-0 relative"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.quantity }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="border border-surface p-4 rounded-md w-full flex flex-col">
      <span>Iconos Prime Ng</span>
      <i class="pi pi-check" style="color: slateblue"></i>

    </div>
    
  </div>



</div>
